<template>
  <div>
    <div class="card" v-if="!userConnected.mail">
      <div class="card-content">
        <div class="content">
          <template>
            <b-field label="mail">
              <b-input placeholder="mail" v-model="login"></b-input>
            </b-field>

            <b-field label="password">
              <b-input
                placeholder="password"
                type="password"
                password-reveal
                v-model="password"
              ></b-input>
            </b-field>
          </template>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" v-on:click="clickOnSignin">
          <template>sign in</template>
        </a>

        <a class="card-footer-item" v-on:click="clickOnLogin">
          <template>log in</template>
        </a>
      </footer>
    </div>

    <my-account v-if="userConnected.mail"></my-account>

  </div>
</template>

<script>
import qs from "qs";
import MyAccount from './MyAccount.vue';

export default {
  name: "Account",
  props: {},

  components: {MyAccount},

  data: () => {
    return {
      login: "",
      password: "",
      userConnected: {},
    };
  },

  mounted() {
    this.userConnected = this.$store.state.connectedUser;
  },

  created() {},

  updated() {},

  methods: {
    clickOnLogin() {
      if (this.password !== "" && this.login !== "") {
        const requestBody = {
          login: this.login,
          password: this.password,
          apikey: "d9a4cbce-b5de-452d-abc7-222f69a363f0",
        };

        const config = {
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
        };
        this.axios
          .post("/login", qs.stringify(requestBody, config))
          .then((response) => {
            //this.$router.push({ name: "Home" });
            this.$store.dispatch("setconnecteduser", response.data.user);
            this.userConnected = response.data.user;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },

    clickOnSignin() {},
  },
};
</script>

<style scoped></style>
