<template>
  <div>
    <b-tabs v-model="activeTab">
      <b-tab-item label="My account">
        my account
      </b-tab-item>

      <b-tab-item label="My article">

        <div v-if="userArticles.length <= 0">
          <div class="card ">
            <div class="card-content">
              <div class="content">
                <p class="title is-6">You don't have any article</p>
              </div>
            </div>
          </div>
        </div>

        <div v-if="userArticles.length > 0">
          <div class="card " v-for="(item, index) in userArticles" :key="index">
            <div class="card-image">
              <figure class="image is-5by4">
                <a @click="goToArticlePage(item._id)"
                  ><img :src="item.images[0]"
                /></a>
              </figure>

              <b-tag
                type="is-danger"
                v-if="item.quantity < 4 && item.quantity > 0"
                style="position: absolute; top: 0;"
                ><b>more than 4</b></b-tag
              >

              <b-tag
                type="is-danger"
                v-if="item.quantity <= 0"
                style="position: absolute; top: 0;"
                ><b>out of stock</b></b-tag
              >
            </div>
            <div class="card-content">
              <div class="content">
                <p class="title is-6">{{ item.title.substring(0, 17) }} ...</p>
                <p class="subtitle is-7">{{ item.price }}€</p>
                <div class="field is-grouped">
                  <!-- <p class="control" v-if="list.rating">
                  <b-rate :value="list.rating" show-score disabled />
                </p> -->

                  <b-tag type="is-info" rounded v-if="item.fast_delivery"
                    ><b>fast delivery !</b></b-tag
                  >
                  <p class="control" style="margin-left: auto">
                    <button
                      class="button is-small is-danger is-outlined"
                      @click="deleteArticle(item._id, index)"
                    >
                      <b-icon size="is-small" icon="close" />
                    </button>
                    <button
                      class="button is-small is-info is-outlined"
                      @click="editArticle(item._id)"
                    >
                      <b-icon size="is-small" icon="pencil" />
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </b-tab-item>

      <b-tab-item label="Videos">
        Nunc nec velit nec libero vestibulum eleifend. Curabitur pulvinar congue
        luctus. Nullam hendrerit iaculis augue vitae ornare. Maecenas vehicula
        pulvinar tellus, id sodales felis lobortis eget.
      </b-tab-item>
    </b-tabs>

    <b-loading
      :is-full-page="true"
      v-model="isLoading"
      :can-cancel="false"
    ></b-loading>
  </div>
</template>

<script>
export default {
  name: "MyAccount",
  props: {},

  data: () => {
    return {
      userConnected: {},
      activeTab: 0,
      isLoading: false,
      userArticles: [],
    };
  },
  components: {},

  mounted() {
    this.userConnected = this.$store.state.connectedUser;

    this.isLoading = true;
    this.axios
      .get(`/article/${this.userConnected._id}`)
      .then((response) => {
        this.userArticles = response.data;
        this.isLoading = false;
      })
      .catch((err) => {
        console.log(err);
        this.isLoading = false;
      });
  },

  created() {},

  updated() {},

  methods: {
    editArticle(itemId) {
      console.log(itemId);
    },

    deleteArticle(itemId, index) {
      this.isLoading = true;
      this.axios
        .delete(`article/${itemId}`)
        .then(() => {
          this.userArticles.splice(index, 1);
          this.isLoading = false;
        })
        .catch((err) => {
          console.log(err);
          this.isLoading = false;
        });
    },
  },
};
</script>

<style scoped></style>
