<template>
  <div>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <section>
                  <b-field>
                    <b-input
                      placeholder="Search your article ..."
                      v-model="searchTerms"
                    ></b-input>
                  </b-field>
                </section>
              </div>
            </div>
            <div class="media-right">
              <div class="buttons">
                <button class="button" @click="search()">
                  <b-icon icon="magnify"></b-icon>
                </button>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

      <template v-if="searchResult.length>0">
        <div class="card " v-for="(item, index) in searchResult" :key="index">
          <div class="card-image">
            <figure class="image is-5by4">
              <a @click="goToArticlePage(item._id)"><img :src="item.images[0]"/></a>
            </figure>
            
            <b-tag type="is-danger" v-if="item.quantity<4 && item.quantity>0" style="position: absolute; top: 0;"
              ><b>more than 4</b></b-tag
            >

             <b-tag type="is-danger" v-if="item.quantity<=0" style="position: absolute; top: 0;"
              ><b>out of stock</b></b-tag
            >
          </div>
          <div class="card-content">
            <div class="content">
              <p class="title is-6" >{{ item.title.substring(0,17) }} ...</p>
              <p class="subtitle is-7">{{ item.price }}€</p>
              <div class="field is-grouped">
                <!-- <p class="control" v-if="list.rating">
                  <b-rate :value="list.rating" show-score disabled />
                </p> -->

                <b-tag type="is-info" rounded v-if="item.fast_delivery"><b>fast delivery !</b></b-tag>
                <p class="control" style="margin-left: auto">

                  <button class="button is-small is-success is-outlined" @click="goToCart(item._id)">
                    <b-icon size="is-small" icon="cart" />
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </template>



    <b-loading
      :is-full-page="true"
      v-model="isLoading"
      :can-cancel="false"
    ></b-loading>
  </div>
</template>

<script>
export default {
  name: "Search",
  props: {},

  data: () => {
    return {
      searchTerms: "",
      searchResult: [],
      isLoading: false,
    };
  },
  components: {},

  mounted() {},

  created() {},

  updated() {},

  methods: {
    search() {
      this.isLoading = true;
      this.axios
        .get(`search/${this.searchTerms}`)
        .then((response) => {
          this.searchResult = response.data;
          this.isLoading = false;
          console.log(this.searchResult)
        })
        .catch((err) => {
          console.log(err);
          this.isLoading = false;
        });
    },

    goToArticlePage(itemId) {
        console.log(itemId)
    },
    goToCart(itemId) {
        console.log(itemId)
    }
  },
};
</script>

<style scoped></style>
