<template>
  <div>
    <div v-if="isLoaded">
      <!-- Top navbar -->
      <div>
        <b-navbar type="is-dark">
          <template slot="burger">
            <b-navbar-item centered="true">
              Another amazon clone
            </b-navbar-item>
          </template>
        </b-navbar>
      </div>

      <router-view />

      <!-- Bottom navbar -->
      <div>
        <b-navbar :fixed-bottom="true" type="is-dark">
          <template slot="burger">
            <b-navbar-item
              centered="true"
              tag="router-link"
              :to="{ path: '/' }"
            >
              <b-icon icon="home" size="is-medium" type="is-light"> </b-icon>
            </b-navbar-item>

            <b-navbar-item
              centered="true"
              tag="router-link"
              :to="{ path: '/search' }"
            >
              <b-icon icon="magnify" size="is-medium" type="is-light"> </b-icon>
            </b-navbar-item>

            <b-navbar-item
              centered="true"
              tag="router-link"
              :to="{ path: '/article' }"
            >
              <b-icon icon="plus-circle" size="is-medium" type="is-light">
              </b-icon>
            </b-navbar-item>

            <b-navbar-item
              centered="true"
              tag="router-link"
              :to="{ path: '/cart' }"
            >
              <b-icon icon="cart" size="is-medium" type="is-light"> </b-icon>
            </b-navbar-item>

            <b-navbar-item
              centered="true"
              tag="router-link"
              :to="{ path: '/account' }"
            >
              <b-icon icon="account" size="is-medium" type="is-light"> </b-icon>
            </b-navbar-item>
          </template>
        </b-navbar>
      </div>
    </div>

    <!-- Splash screen -->
    <div>
      <section
        class="hero is-medium  is-fullheight is-dark is-bold"
        v-if="!isLoaded"
      >
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              another amazon clone
            </h1>
            <h2 class="subtitle">
              <b-progress size="is-medium"></b-progress>
            </h2>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  props: {},

  data: () => {
    return {
      isLoaded: false,
    };
  },
  components: {},

  mounted() {
    let counter = 2;
    let interval = setInterval(() => {
      if (counter === 0) {
        this.clear(interval);
      }
      counter --;
    }, 1000);
  },

  created() {},

  methods: {
    clear(interval) {
      clearInterval(interval)
      this.isLoaded = true
    }
  },
};
</script>

<style scoped>
.navbar-item {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

#splash-screen {
  height: 100%;
}
</style>
