<template>
  <div v-if="this.userConnected.mail">
    <b-collapse class="card" animation="slide" aria-id="contentIdForA11y3">
      <div
        slot="trigger"
        slot-scope="props"
        class="card-header"
        role="button"
        aria-controls="contentIdForA11y3"
      >
        <p class="card-header-title">
          Upload
        </p>
        <a class="card-header-icon">
          <b-icon :icon="props.open ? 'menu-down' : 'menu-up'"> </b-icon>
        </a>
      </div>
      <!-- upload field -->
      <div class="card">
        <div class="card-content">
          <div class="content">
            <section class="is-medium">
              <b-field>
                <b-upload v-model="dropFiles" multiple drag-drop>
                  <section class="section ">
                    <div class="content has-text-centered">
                      <p>
                        <b-icon icon="upload" size="is-medium"> </b-icon>
                      </p>
                      <p>Drop your files here or click to upload</p>
                    </div>
                  </section>
                </b-upload>
              </b-field>
              <div class="tags">
                <span
                  v-for="(file, index) in dropFiles"
                  :key="index"
                  class="tag is-primary"
                >
                  {{ file.name }}
                  <button
                    class="delete is-small"
                    type="button"
                    @click="deleteDropFile(index)"
                  ></button>
                </span>
              </div>
            </section>
          </div>
        </div>
      </div>
    </b-collapse>

    <!-- article field  -->
    <div class="card" id="article-field">
      <div class="card-content">
        <div class="content">
          <b-field label="title">
            <b-input v-model="title"></b-input>
          </b-field>

          <b-field label="description">
            <b-input v-model="description"></b-input>
          </b-field>

          <b-field label="price">
            <b-input v-model="price" type="number" min="0"> </b-input>
          </b-field>

          <b-field label="quantity">
            <b-input v-model="quantity" type="number" min="0"> </b-input>
          </b-field>

          <b-field label="brand">
            <b-input v-model="brand"></b-input>
          </b-field>

          <b-field label="categorie">
            <b-input v-model="category"></b-input>
          </b-field>

          <b-field label="fast delivery">
            <b-switch v-model="fastDelivery"> </b-switch>
          </b-field>

          <p class="control" style="margin-left: 84%">
            <button
              class="button is-medium is-success is-outlined"
              @click="addArticle()"
            >
              <b-icon size="is-small" icon="check" />
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import qs from "qs";

export default {
  name: "Article",
  props: {},

  data: () => {
    return {
      dropFiles: [],
      filesBase64: [],
      title: "",
      description: "",
      price: 0,
      quantity: 0,
      brand: "",
      category: "",
      fastDelivery: false,
      userConnected: {},
    };
  },
  components: {},

  mounted() {
    this.userConnected = this.$store.state.connectedUser;

    if(!this.userConnected.mail) {
      this.$router.push({ name: "Account" });
    }
  },

  created() {},

  updated() {
    if (this.dropFiles.length !== this.filesBase64.length) {
      this.dropFiles.map((file) => {
        this.getBase64(file).then((data) => this.filesBase64.push(data));
      });
    }
  },

  methods: {
    deleteDropFile(item) {
      this.dropFiles.splice(item, 1);
      this.filesBase64.splice(item, 1);
    },

    addArticle() {
      console.log(this.userConnected._id,)
      const newArticle = {
        images: this.filesBase64,
        title: this.title,
        description: this.description,
        price: this.price,
        fast_delivery: this.fastDelivery,
        quantity: this.quantity,
        brand: this.brand,
        categorie: this.category,
        posted_by: this.userConnected._id,
      };

      const requestBody = {
        article: newArticle,
        apikey: 'd9a4cbce-b5de-452d-abc7-222f69a363f0'
      };

      const config = {
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      };

      this.axios
        .post("/article", qs.stringify(requestBody, config))
        .then(() => {
         
        })
        .catch((err) => {
          console.log(err);
        });

        this.$router.push({ name: "Home" });
    },

    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      });
    },
  },
};
</script>

<style scoped>
#article-field {
  overflow: scroll;
  height: 100%;
}
</style>
