<template>
  <div >
    <h2 v-if="trendingArticles">Trend :</h2>
    <b-carousel-list :data="trendingArticles" :items-to-show="2">
      <template slot="item" slot-scope="list">
        <div class="card ">
          <div class="card-image">
            <figure class="image is-5by4">
              <a @click="goToArticlePage(list._id)"><img :src="list.images[0]"/></a>
            </figure>
            
            <b-tag type="is-danger" v-if="list.quantity<4 && list.quantity>0" style="position: absolute; top: 0;"
              ><b>more than 4</b></b-tag
            >

             <b-tag type="is-danger" v-if="list.quantity<=0" style="position: absolute; top: 0;"
              ><b>out of stock</b></b-tag
            >
          </div>
          <div class="card-content">
            <div class="content">
              <p class="title is-6" >{{ list.title.substring(0,17) }} ...</p>
              <p class="subtitle is-7">{{ list.price }}€</p>
              <div class="field is-grouped">
                <!-- <p class="control" v-if="list.rating">
                  <b-rate :value="list.rating" show-score disabled />
                </p> -->

                <b-tag type="is-info" rounded v-if="list.fast_delivery"><b>fast delivery !</b></b-tag>
                <p class="control" style="margin-left: auto">

                  <button class="button is-small is-success is-outlined" @click="goToCart(list._id)">
                    <b-icon size="is-small" icon="cart" />
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </template>
    </b-carousel-list>

    <b-loading
      :is-full-page="true"
      v-model="isLoading"
      :can-cancel="false"
    ></b-loading>
  </div>
</template>

<script>
export default {
  name: "Home",
  props: {},

  data: () => {
    return {
      trendingArticles: [],
      isLoading: false,
    };
  },
  components: {},

  mounted() {
    this.isLoading = true;
    this.axios
      .get("/trending")
      .then((response) => {
        this.trendingArticles = response.data;
        this.isLoading = false
      })
      .catch((err) => {
        console.log(err);
        this.isLoading = false
      });
  },

  created() {},

  methods: {
    goToArticlePage(itemId) {
      console.log(itemId)
    },
    goToCart(itemId) {
      console.log(itemId)
    }
  },
};
</script>

<style scoped></style>
